<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
         
        </div>
        <div class="sidebar-brand-text mx-3">VLT</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapsecategory"
            aria-expanded="true" aria-controls="collapsecategory">
            <i class="fas fa-fw fa-cog"></i>
            <span>Category</span>
        </a>
        <div id="collapsecategory" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Category Edits:</h6>
                <a class="collapse-item" href="/backend/add_category">Add</a>
                <a class="collapse-item" href="/backend/view_category">View</a>
                <a class="collapse-item" href="/backend/edit_category">Edit</a>
                <a class="collapse-item" href="/backend/delete_category">Delete</a>
                
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsebrand"
            aria-expanded="true" aria-controls="collapsebrand">
            <i class="fas fa-fw fa-cog"></i>
            <span>Brand</span>
        </a>
        <div id="collapsebrand" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Brand Edits:</h6>
                <a class="collapse-item" href="/backend/add_brand">Add</a>
                <a class="collapse-item" href="/backend/edit_brand">Edit</a>
                <a class="collapse-item" href="/backend/delete_brand">Delete</a>
            </div>
        </div>
    </li>

    <!-- Divider -->

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseuser"
            aria-expanded="true" aria-controls="collapseuser">
            <i class="fas fa-fw fa-cog"></i>
            <span>User</span>
        </a>
        <div id="collapseuser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">User Edits:</h6>
                <a class="collapse-item" href="/users/add_user">Add</a>
                <a class="collapse-item" href="">Edit</a>
                <a class="collapse-item" href="">Delete</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Payments"
            aria-expanded="true" aria-controls="Payments">
            <i class="fas fa-fw fa-cog"></i>
            <span>Payments</span>
        </a>
        <div id="Payments" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">User Edits:</h6>
                <a class="collapse-item" href="">Add</a>
                <a class="collapse-item" href="">Edit</a>
                <a class="collapse-item" href="">Delete</a>
            </div>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Remainders"
            aria-expanded="true" aria-controls="Remainders">
            <i class="fas fa-fw fa-cog"></i>
            <span>Remainders</span>
        </a>
        <div id="Remainders" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">User Edits:</h6>
                <a class="collapse-item" href="">Add</a>
                <a class="collapse-item" href="">Edit</a>
                <a class="collapse-item" href="">Delete</a>
            </div>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Reports"
            aria-expanded="true" aria-controls="Reports">
            <i class="fas fa-fw fa-cog"></i>
            <span>Reports</span>
        </a>
        <div id="Reports" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">User Edits:</h6>
                <a class="collapse-item" href="">Add</a>
                <a class="collapse-item" href="">Edit</a>
                <a class="collapse-item" href="">Delete</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Stock</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Stock Related:</h6>
                <a class="collapse-item" href="">Incoming</a>
                <a class="collapse-item" href="">Outgoing</a>
            </div>
        </div>
    </li>

   

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
 

</ul>